.sidebar-icon {
    padding-top: 1rem;
    padding-left: 1rem;
    cursor: pointer;
    color: white;
    min-height: 3.5rem;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between;
}

.TeamCard{
	margin-bottom: 1em !important;
}

.EventCard{
	margin: 1em 0 !important;

}


.card{
	margin: 0 auto !important;
}
.TeamImage{
	margin: 0;
}

#HeaderText {
    min-height: 100vh;
}

.main.menu .socialIcon {
    height: 46px;
}

#About, #Team, #Events, #Work{
	background-color: #DB2828;
}

#Events{
	margin-top: 1em;
}
.middle.aligned {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.right_floated {
    float: right;
    margin-right: 1.5em;
}


#logo{
	margin-top: 1em;
	width: 400px; 
	max-width: 100%;
	display:block; 
	height: auto;
}

#StateImage{
	width: 350px; 
	max-width: 100%;
	display:block; 
	height: auto;
}

.hero-image {
  background-color: #DB2828;
  margin-bottom: 1em;
}

@media screen and (max-width: 700px) {
    .main.menu {
        display: none;
    }
    .sidebar-icon {
        display: block;
    }
}

@media screen and (min-width: 701px) {
    .sidebar-icon {
        display: none;
    }
}
