*,
*:after,
*:before {
    -webkit-tap-highlight-color: transparent!important;
}
body, p{
  font-family: 'Josefin Slab', serif !importants;
}
.top-menu {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 1rem;
    cursor: pointer;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2185D0;
}

.sidebar-icon {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.top-title {
    font-size: 1rem;
}

.sidebar-icon a {
    color: white;
}

.ui .card {
    margin-bottom: 1em !important;
}

.headerCurve1 {
    background-color: #fcf800;
}

.card {
    margin: 0 auto !important;
}

.TeamImage {
    margin: 0;
}

.main.menu .socialIcon {
    height: 46px;
}

#about,
#Work,
#Team {
    // background-color: #DB2828;
    background-color: #fcf800;
}

#about,
#Team {}

#Work {
    padding-bottom: 4rem;
}

#about {
    padding-bottom: 4rem;
}

#Events,
#ContactUs {
    background-color: #0eb89b;
    // background-color: #2A2D34;
}

.headerCurve2 {
    background-color: #0eb89b;
}

#ContactButton {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#SectionHeader {
    margin-top: 1rem !important;
    font-weight: 800;
}

.middle.aligned {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.internship-content,
.volunteer-content {
    text-align: left;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.intern-list {
    text-align: left;
}

.intern-list li {
    margin-bottom: 0.5rem;
}

.ui.button {
    font-weight: normal!important;
    font-size: 1.1em;
}

#logo {
    margin-top: 1em;
    width: 300px;
    max-width: 100%;
    height: auto;

}

#StateImage {
    width: 350px;
    max-width: 100%;
    display: block;
    height: auto;
}

.hero-image {
    background-color: #DB2828;
}

.ui.grid .row .column {
    margin-top: 1.5em !important;
}

@media screen and (max-width: 700px) {
    .main.menu {
        display: none;
    }
    .sidebar-icon {
        display: block;
    }
    header {
        margin-top: 4rem;
    }
}

@media screen and (min-width: 701px) {
    .sidebar-icon {
        display: none;
    }
}

#menu {
    background-color: #063770;
}

.hero-image {
    background-image: url('../img/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 300px;
}

#header-triangle {
    background-color: transparent;
    position: absolute;
    bottom: 0;
}

.content-section .grid {
    padding-top: 40px;
}

#about .grid {
    padding-top: 40px;
}

.row.title-wrapper {
    flex-direction: column!important;
    align-items: center;
}

#headerText {
    /*color: white;*/
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    // padding-top: 1rem;
}

.tagline {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.87);
}

.contact-details {
    text-align: left;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

#home {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    left: auto;
    max-width: 1440px;
}

#logo-top {
    display: none;
}

#about {
    position: relative;
}

.project-wrapper {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    // align-items: stretch;
    width: inherit;
}

.project-card {
    margin-right: 2rem;
    // flex: 1;
}

.project-card .ui.segment {
    width: 350px;
    margin-top: 1rem;
}

.project-card img {
    border-radius: 2px;
}

.project-card .image-wrapper {
    height: 200px;
    overflow: hidden;
    margin-bottom: 1rem;
}

#Events {
    padding-bottom: 4rem;
}

.team-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.team-wrapper .member-image img {
    width: 170px;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.team-wrapper .team-member {
    width: 180px;
}

.team-wrapper .member-image {
    height: 210px;
    width: 170px;
    overflow: hidden;
    margin-bottom: 1rem;
    border: 4px solid white;
}

.team-member .header:first-child {
    color: white;
}

.team-member .header:last-child {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.5rem;
}

.new-line {
    display: block;
}

#image-slider-container {
    width: 640px;
}

.slider-wrapper {
    overflow: hidden;
    height: inherit;
}

.slider-element {
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.slider-image {
    height: 400px;
    overflow: hidden;
    margin-bottom: 1rem;
}

#figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slidy infinite;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    30% {
        left: 0%;
    }
    33% {
        left: -100%;
    }
    63% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    96% {
        left: -200%;
    }
    99% {
        left: 0%;
    }
}

.map-small {
    display: none;
}

@media (min-width: 992px) {
    .project-card:last-child {
        margin-right: 0;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .project-card .ui.segment {
        width: 300px;
    }
}

@media (max-width: 991px) {
    #logo-top {
        display: block;
        height: 150px;
        width: auto;
        position: absolute;
        top: -75px;
        left: 50px;
    }
    .team-wrapper {
        flex-wrap: wrap;
    }
    .team-member {
        margin-bottom: 2rem;
        margin-right: 4rem;
    }
    .map-large {
        display: none;
    }
    .map-small {
        display: block;
    }
    .project-wrapper {
        flex-direction: column;
    }
    .project-card {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media (max-width: 767px) {
    #home .title-wrapper {
        display: none !important;
    }
    .team-wrapper {
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }
    .team-wrapper .team-member {
        display: flex;
        width: inherit;
        max-width: 500px;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: 0;
    }
    .new-line {
        display: inline;
    }
    .team-member .header {
        text-align: left;
    }
    .member-image {
        margin-right: 3rem;
        flex: none;
    }
    #image-slider-container {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    .slider-image {
        height: 250px;
    }

}

@media (max-width: 600px) {
    .hero-image {
        min-height: 200px;
        background-position: bottom;
    }
    .logo-top-wrapper {
        position: absolute;
        padding: 0;
        margin: 0;
        top: -60px;
        width: 100%;
        height: 120px;
    }
    #logo-top {
        position: static;
        margin-right: auto;
        margin-left: auto;
        height: 120px;
    }
    #about {
        padding-top: 40px;
    }
}

@media (max-width: 520px) {
     #image-slider-container {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .slider-image {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .project-card .ui.segment {
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .project-card .image-wrapper {
        max-height: 200px;
        height: inherit;
    }
    .member-image {
        margin-right: 1rem;
    }
}


@media (max-width: 380px) {
     #image-slider-container {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .slider-image {
        height: 200px;
    }
}